body {
    background-color: #f2f2f2;
}

* {
    font-family: "proxima-nova," sans-serif;
}

.linemain {
    border-top: 2px solid #D3D3D3;
    width: 1350px;
    margin-left: 15px;
    margin: auto;
    margin-top: 4rem;
}
.mainhead {
    width: 180px;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    font-size: 17px;
    position: relative;
    top: -1.2rem;
    margin-left: 150px;
  }
.row1 {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 15px;
}

.item1 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-left: 7px;
    box-shadow: 20px 15px rgb(228, 226, 226);
}

.item2 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
}

.item3 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
}

.item4 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
}
.item5 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
    margin-top: 2rem;
    margin-left: 7px;
}
.item6 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
    margin-top: 2rem;
}
.item7 {
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 20px 15px rgb(228, 226, 226);
    margin-top: 2rem;
}

.border {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.line {
    border-top: 0.1px solid #D3D3D3;
    width: 270px;
    margin-left: 15px;
}

.heading1 {
    text-align: left;
    margin-left: 10px;
    font-size: large;
}

.para1 {
    text-align: left;
    margin-left: 10px;
}

.addtocart {
    width: 130px;
    height: 30px;
    color: rgb(0, 171, 0);
    border-color: rgb(0, 171, 0);
    background-color: white;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.sizebase {
    display: flex;
    gap: 80px;
}

.size {
    text-align: left;
    margin-left: 17px;
}

.crust {
    margin-left: -60px;
}

.ntext1 {
    width: 105px;
    border: none;
    text-align: left;
    margin-left: 12px;
    position: relative;
    top: -10px;
    

}

.ntext2 {
    width: 80px;
    border: none;
    margin-left: -20px;
    text-align: left;
    position: relative;
    top: -10px;
}





ul.ull {
    list-style: none;
    text-align: left;
    background-color: white;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;


}

ul li .dr {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;

}

ul li .dr:hover {
    color: #fff;
    background-color: #f2f2f2;
    color: green;

}

ul li ul.dropdown {
    min-width: 120px;
    background: #f2f2f2;
    color: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    margin-left: 20px;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}

.dr {
    text-align: left;
    border: none;
}


ul li ul.dropdown2 {
    min-width: 120px;
    background: #f2f2f2;
    color: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    margin-left: -20px;
}

ul li:hover ul.dropdown2 {
    display: block;
}

ul li ul.dropdown2 li {
    display: block;
}


