

.container1{
    width: 60%;
    margin: auto; 
    height: 12.8cm;
    background: -webkit-linear-gradient(left,#12CBC4,#2e86de);
    margin-top: 5%;
    border-radius: 25px;
    display: flex;
    gap: 2.5rem;
    padding: 2rem;

}
.Box1{

   border-radius: 15px;
   overflow: hidden; 
   width:500px ;
   height:480px
    
}
.Box2{
    height: 100%;
    background-color: white;
    border-radius: 15px;
    flex-grow: 1; 
    
}
.Box2 > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 0.5cm;
    border-radius: 7px;
    
    
    
}

.password{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 1cm;
    border-radius: 7px;
}
.btn{
    width: 100px;
    height: 35px;
    text-align: center;
    margin-top: 7.5%;
    background: -webkit-linear-gradient(left,#12CBC4,#2e86de);
    color: white;
    font-size: 0.4cm;
    border-radius: 7px;
}
.sign{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1rem;
    font-size: 35px;
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

