.container1{
    width: 60%;
    margin: auto; 
    height: 15cm;
    background: -webkit-linear-gradient(left,#12CBC4,#2e86de);
    /* background: -webkit-linear-gradient(left,#a445b2,#fa4299); */
    /* background-color: rgb(95, 169, 173); */
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
    

}
.container2{
    width: 60%;
    margin: auto; 
    height: 1.7cm;
    background: -webkit-linear-gradient(left,#12CBC4,#2e86de);
    /* background: -webkit-linear-gradient(left,#a445b2,#fa4299); */
    /* background-color: rgb(95, 169, 173); */
    margin-top: 3%;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    
    

}
.Box2{
    margin-right: 8%;
    margin-left: 8%;
    background-color: white;
    height: 460px;
    padding-top: 5%;
    border-radius: 15px;
    
}
.email{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    
}

.password{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.cpassword{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.btn{
    width: 100px;
    height: 35px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;
    /* background: -webkit-linear-gradient(left,#a445b2,#fa4299); */
    /* background-color: rgb(95, 169, 173); */
    background: -webkit-linear-gradient(left,#12CBC4,#2e86de);
    color: white;
    font-size: 0.4cm;
    border-radius: 7px;
}
.a1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1cm;
    font-weight: bold;
    margin-top: -4%;
}
h4{
    font-size: 0.4cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cheak{
    margin-top: 0.6cm;
}
